{% extends 'base.html' %}
{% block title %}
    Product Register
{% endblock %}

{% block content %}
<div class="container mx-auto px-4 py-6">
    <h1 class="text-3xl font-bold mb-6">New brand</h1>
    <div class="overflow-x-auto">
        <form action="" method="post">
            {% csrf_token %}
            {{form.as_p}}
            <button class="bg-green-600 text-white px-4 py-2 rounded hover:bg-green-500" type="submit" >
                Save
            </button>
        </form>
    </div>
</div>
{% endblock%}