{% extends 'base.html' %}

{% block title %}
    Product details
{% endblock %}

{% block content %}
    <div class="container mx-auto px-4 py-6">
               
        <div class="bg-white p-8 rounded-lg shadow-lg">
            <div class="flex">
                <div class="w-2/3 ">
                    <div class="">
                        {% with element.images.first as first_image %}
                            {% if first_image %}
                                <img class="rounded-lg h-22" src="{{first_image.image.url}}" alt="{{first_image.image.caption}}" >
                            {% else %}
                                <img class="rounded-lg h-22" src="https://via.placeholder.com/150" alt="{{item.name}}">
                            {% endif %}
                        {% endwith %}
                    </div>
                    <div class="mt-4">
                        <div class="carousel mt-8">
                            {% for image in element.images.all %}
                                <div class="carousel-item">
                                    <a href="#" >
                                        <img src="{{ image.image.url }}" alt="{{image.image.caption}}" class="rounded-lg shadow-lg ">
                                     </a>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                
                <div class="ml-8 flex-grow">
                    <h1 class="text-3xl font-bold">{{ element.name }}</h1>
                    
                    <p><span><b>Cod: </b>{{element.pk}}</span> <span><b>Category: </b> Product category</span></p>
                    <p>
                        <div class="flex items-center">
                            {% for i in 'asdfg' %}
                                <svg class="w-6 h-6 text-yellow-400" fill="currentColor" viewBox="0 0 24 24">
                                    <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"/>
                                </svg>
                            {% endfor %}
                        </div>
                    </p>   
                    {% with element.prices.first as first_price %}
                        <p class="text-7xl font-bold mt-4">${{ first_price.price|floatformat:2|default:"0.00" }}</p>
                    {% endwith %}
                    <p class="text-gray-700 mt-4">{{ element.description }}</p>
                    <form action="{% url 'add_to_cart' element.pk %}" method="post" class="mt-4">
                        {% csrf_token %}
                        <div class="flex flex-column">
                            <input type="number" value="1"  class="form-input  block w-24 px-4 py-2 rounded-lg border border-gray-300 shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500"  />
                            <button type="submit" class="ml-2 border-2 border-blue-600 hover:bg-blue-700 hover:text-white text-black font-bold py-2 px-4 rounded w-full">
                                Add to Cart
                            </button>
                        </div>
                        <div class="flex flex-column mt-5">
                            <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded w-full">
                                Buy now
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="bg-white p-8 mt-8 rounded-lg shadow-lg">
            <h2 class="text-2xl font-bold mb-4">Reviews</h2>
            {% for review in reviews %}
                <div class="mb-4">
                    <div class="flex items-center">
                        <div class="flex items-center">
                            {% for i in 'asdfg' %}
                                <svg class="w-6 h-6 text-yellow-400" fill="currentColor" viewBox="0 0 24 24">
                                    <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"/>
                                </svg>
                            {% endfor %}
                        </div>
                        <p class="ml-2 text-gray-600">{{ review.user.username }}</p>
                    </div>
                    <p class="mt-2">{{ review.comment }}</p>
                </div>
            {% empty %}
                <p>No reviews yet.</p>
            {% endfor %}
        </div>

        <div class="bg-white p-8 mt-8 rounded-lg shadow-lg">
            <h2 class="text-2xl font-bold mb-4">Leave a Review</h2>
            <form method="post" action="{% url 'product_review_create' element.pk %}">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mt-4">
                    Submit
                </button>
            </form>
        </div>
    </div>
{% endblock %}